{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
        <div {{ react_component('security/loginForm', {
                action: path('app_login'), csrfToken: csrf_token('login') }) }}></div>
{% endblock %}
