
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div {{ react_component('components/pages/homePage', {
        user: user,
        experiences: experiences,
        trainings: trainings,
        blocks: blocks,
        csrfTokens: {
            user: csrf_token('user_form'),
            experience: csrf_token('experience_form'),
            training: csrf_token('training_form'),
            block: csrf_token('block_form')
        }
    }) }}></div>
{% endblock %}