{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div {{ react_component('user/userGet',
        { action: path('app_user_get'), csrfToken: csrf_token('edit_user') }) }}></div>
{% endblock %}