{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="flex flex-col lg:flex-row gap-8 p-8">

        <div class="flex flex-col gap-8 w-full lg:w-2/3">
            <div {{ react_component('components/pages/userPage',
            {user: user,
            csrfToken: csrf_token('user_form') }) }}></div>

            <div {{ react_component('components/pages/experiencePage', {
                experiences: experiences,
                csrfToken: csrf_token('experience_form')
            }) }}></div>

            <div {{ react_component('components/pages/trainingPage', {
                trainings: trainings,
                csrfToken: csrf_token('training_form')
            }) }}></div>
        </div>

        <div class="w-full lg:w-1/3">
            <div {{ react_component('components/pages/blockPage', {
                blocks: blocks,
                csrfToken: csrf_token('block_form')
            }) }}></div>
        </div>
    </div>
{% endblock %}