{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div>
        Rendez-vous dans votre boite mail pour valider votre inscription à CVMaker !
    </div>
{% endblock %}