{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div{{ react_component('registration/registerForm', { action: path('app_register') }) }}></div>
{% endblock %}